@model IEnumerable<UserModel>

@{
    ViewData["Title"] = "User List";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>UserID</th>
            <th>UserName</th>
            <th>Email</th>
            <th>MobileNo</th>
            <th>Address</th>
            <th>IsActive</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserID</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.MobileNo</td>
                <td>@user.Address</td>
                <td>@user.IsActive</td>
            </tr>
        }
    </tbody>
</table>
