@model DataTable
@using System.Data

@{
    ViewData["Title"] = "Order List";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>OrderID</th>
            <th>OrderNumber</th>
            <th>OrderDate</th>
            <th>CustomerID</th>
            <th>PaymentMode</th>
            <th>TotalAmount</th>
            <th>ShippingAddress</th>
            <th>UserID</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td>@row["OrderID"]</td>
                <td>@row["OrderNumber"]</td>
                <td>@row["OrderDate"]</td>
                <td>@row["CustomerID"]</td>
                <td>@row["PaymentMode"]</td>
                <td>@row["TotalAmount"]</td>
                <td>@row["ShippingAddress"]</td>
                <td>@row["UserID"]</td>
                <td>
                    <a href="@Url.Action("Edit", "Order", new { id = row["OrderID"] })"
                        class="btn btn-sm btn-primary">Edit</a>
                    <a asp-controller="Order" asp-action="OrderDelete" asp-route-OrderID="@row["OrderID"]"
                        class="btn btn-outline-danger btn-xs"
                        onclick="return confirm('Are you sure you want to delete this record?')">
                        <i class="bi bi-x"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
