@model DataTable
@using System.Data

@{
    ViewData["Title"] = "Order List";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>OrderID</th>
            <th>OrderNumber</th>
            <th>OrderDate</th>
            <th>CustomerID</th>
            <th>PaymentMode</th>
            <th>TotalAmount</th>
            <th>ShippingAddress</th>
            <th>UserID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td>@row["OrderID"]</td>
                <td>@row["OrderNumber"]</td>
                <td>@row["OrderDate"]</td>
                <td>@row["CustomerID"]</td>
                <td>@row["PaymentMode"]</td>
                <td>@row["TotalAmount"]</td>
                <td>@row["ShippingAddress"]</td>
                <td>@row["UserID"]</td>

            </tr>
        }
    </tbody>
</table>
