@model DataTable
@using System.Data

@{
    ViewData["Title"] = "Product List";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>ProductID</th>
            <th>ProductName</th>
            <th>ProductPrice</th>
            <th>ProductCode</th>
            <th>Description</th>
            <th>UserID</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td>@row["ProductID"]</td>
                <td>@row["ProductName"]</td>
                <td>@row["ProductPrice"]</td>
                <td>@row["ProductCode"]</td>
                <td>@row["Description"]</td>
                <td>@row["UserID"]</td>
                <td>
                    <a href="@Url.Action("Edit", "Product", new { id = row["ProductID"] })"
                        class="btn btn-sm btn-primary">Edit</a>
                    <a asp-controller="Product" asp-action="ProductDelete" asp-route-ProductID="@row["ProductID"]"
                        class="btn btn-outline-danger btn-xs"
                        onclick="return confirm('Are you sure you want to delete this record?')">
                        <i class="bi bi-x"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
