@model DataTable
@using System.Data

@{
    ViewData["Title"] = "Product List";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>ProductID</th>
            <th>ProductName</th>
            <th>ProductPrice</th>
            <th>ProductCode</th>
            <th>Description</th>
            <th>UserID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td>@row["ProductID"]</td>
                <td>@row["ProductName"]</td>
                <td>@row["ProductPrice"]</td>
                <td>@row["ProductCode"]</td>
                <td>@row["Description"]</td>
                <td>@row["UserID"]</td>

            </tr>
        }
    </tbody>
</table>
