@model DataTable
@using System.Data

@{
    ViewData["Title"] = "Order Details List";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>OrderDetailID</th>
            <th>OrderID</th>
            <th>ProductID</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>TotalAmount</th>
            <th>UserID</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td>@row["OrderDetailID"]</td>
                <td>@row["OrderID"]</td>
                <td>@row["ProductID"]</td>
                <td>@row["Quantity"]</td>
                <td>@row["Amount"]</td>
                <td>@row["TotalAmount"]</td>
                <td>@row["UserID"]</td>
                <td>
                    <a href="@Url.Action("Edit", "OrderDetails", new { id = row["OrderDetailID"] })"
                        class="btn btn-sm btn-primary">Edit</a>

                    <a asp-controller="OrderDetails" asp-action="OrderDetailsDelete"
                        asp-route-OrderDetailID="@row["OrderDetailID"]" class="btn btn-outline-danger btn-xs"
                        onclick="return confirm('Are you sure you want to delete this record?')">
                        <i class="bi bi-x"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
