@model DataTable
@using System.Data

@{
    ViewData["Title"] = "Order Details List";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>OrderDetailID</th>
            <th>OrderID</th>
            <th>ProductID</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>TotalAmount</th>
            <th>UserID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td>@row["OrderDetailID"]</td>
                <td>@row["OrderID"]</td>
                <td>@row["ProductID"]</td>
                <td>@row["Quantity"]</td>
                <td>@row["Amount"]</td>
                <td>@row["TotalAmount"]</td>
                <td>@row["UserID"]</td>

            </tr>
        }
    </tbody>
</table>
