
@model DataTable
@using System.Data

@{
    ViewData["Title"] = "Bill List";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>BillID</th>
            <th>BillNumber</th>
            <th>BillDate</th>
            <th>OrderID</th>
            <th>TotalAmount</th>
            <th>Discount</th>
            <th>NetAmount</th>
            <th>CustomerID</th>
            <th>UserID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td>@row["BillID"]</td>
                <td>@row["BillNumber"]</td>
                <td>@row["BillDate"]</td>
                <td>@row["OrderID"]</td>
                <td>@row["TotalAmount"]</td>
                <td>@row["Discount"]</td>
                <td>@row["NetAmount"]</td>
                <td>@row["CustomerID"]</td>
                <td>@row["UserID"]</td>

            </tr>
        }
    </tbody>
</table>
